.item-container {
  display: flex;
  flex-flow: row wrap;
}

.item {
  display: flex;
  flex-direction: column;
  width: 20em;
}

.cart-info {
  color: cyan;
}

h1 {
  text-align: center;
}

.category {
  color: crimson;
}
