html {
  font-size: 16px;
}

.item-container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  justify-content: space-around;
  width: 90%;
}

.item {
  display: flex;
  flex-direction: column;
  width: 55%;
  border: solid 1px;
  font-family:cursive;
  font-size: 2rem;
 }

.cart-info {
  color: cyan;
}

h1 {
  text-align: center;
}

.category {
  color: crimson;
}

img {
  max-width: 100%;
}
